<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2010 Adam Nybäck

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at
  
          http://www.apache.org/licenses/LICENSE-2.0
  
     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="se.anyro.tagtider"
      android:versionCode="8"
      android:versionName="1.5">

    <supports-screens
      android:largeScreens="true"
      android:normalScreens="true"
      android:smallScreens="true"
      android:anyDensity="true"/>

    <application
      android:icon="@drawable/icon"
      android:label="@string/app_name">
        <activity
          android:name=".MainActivity"
          android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
          android:name=".StationActivity"
          android:label="Transfers">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
          android:name=".TransferActivity"
          android:label="Transfer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- Only C2DM servers can send messages for the app. If permission is not set - any other app can generate it --> 
        <!-- receiver android:name=".C2dmReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="se.anyro.tagtider" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="se.anyro.tagtider" />
            </intent-filter>
        </receiver -->
    </application>

    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="8"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    
    <!-- Only this application can receive the messages and registration result --> 
    <!-- permission android:name="se.anyro.tagtider.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="se.anyro.tagtider.permission.C2D_MESSAGE" android:required="false" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" android:required="false" / -->
</manifest> 